<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css"/>
<link rel="stylesheet" href="foundation/css/foundation.css" />
<script src="foundation/js/vendor/modernizr.js"></script>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="javascripts/fanBox.js"></script>
</head>
<body>
<div id="MainOutsideContainer">
<div id="MainHeader" class="headerMain row">
<nav class="navRow">
<div class="large-2 column headerLink">
</div>
<div class="large-2 column headerLink" style="margin-left: 29px;">
<a href="#Who-We-Are-section" data-slow-scroll="">WHO WE ARE</a>
</div>
<div class="large-2 column headerLink">
<a href="#How-It-Works-section">HOW IT WORKS</a>
</div>
<div class="large-1 column headerLink">
<a href="#Benefits-section">BENEFITS</a>
</div>
<div class="large-1 column headerLink">
<a href="#Pricing-section">PRICING</a>
</div>
<div class="large-2 column headerLink">
<a href="/gifts" class="gift-card-icon">GIFT CARDS</a>
</div>
<div class="large-1 column headerLink" style="border: 1px solid; margin-right: 382px; text-align: center">
<a href="/signIn" class="signIn-icon">Sign In</a>
</div>
</ul>
</nav>
</div>
<div id="logoBanner" class="row">
<div id="mainImage" class="large-4 columns">
<img src="https://s-media-cache-ak0.pinimg.com/736x/23/15/94/2315945d8749373520af01840fc71d37.jpg" />
</div>
<div id="fanBoxLogo"  class="large-4 columns">
<img src="/images/fanboxlogo2b425.jpg" style="margin-left: 50px;"/>
<p style="margin-bottom: 0px;">Team Gear and Accessories picked just</p>
<p>for you and delivered to your door.</p>
</div>
<div class="large-4 columns" >
<img src="/images/fanbox_soccerguy.png" style="height:510px; padding-left:180px;" />
</div>
</div>
<div id="mission" class="row">
<p class="missionText" id="whoWeAre">Who We Are</p>
<p  class="missionText">For the sports fan, Fan Box is a way to stay fresh and current in the sports you hold dear.  We give you your time back and help you reconnect with your love of the game! We help you look your best every day in gear you love!
</p>
<img src="/images/fanatics_logo_100x100.png" style="padding-top:22px;"/>
</div>
<div id="howItWorksContainer">
<div id="howItWorks">
<img src="/images/fanboxhowitworks3.png" style="width:100%" />
</div>
<div class="howItWorksSection row">
<div class="large-6 column howItWorksText" style="padding-top: 150px;">
<label style="font-size:20px">Step N<sup style="font-size: 13px; top: -4px; text-transform: none;">o</sup> 1</label>
<p>____</p>
<p style="font-size: 21px; font-weight:700">Take our simple quiz and get started today!</p>
<p style="text-transform:none; font-size:20px; margin:0px;">Tell us what kind of fan you are and we will send you gear you will love!</p>
<p style="text-transform:none; font-size:20px; margin:0px;">Get your monthly team fix with Fax Box.  Know a Sports Fanatic?</p>
<p style="text-transform:none; font-size:20px; margin:0px;">You can send them a gift Fan Box!</p>
</div>
<div class="large-6 columns" style="padding-left:0px">
<img src="/images/fanbox_woman-working-from-home.png" />
</div>
</div>
<div class="howItWorksSection row" >
<div class="large-6 columns"  style="padding-right:0px">
<img src="/images/fanbox_openingbox.png" style="height:395px; width:100%;"/>
</div>
<div class="large-6 columns howItWorksText" style="padding-top: 100px;">
<label style="font-size:20px">Step N<sup style="font-size: 13px; top: -4px; text-transform: none;">o</sup> 2</label>
<p>____</p>
<p style="font-size: 21px;font-weight:700">Receive your Fan Box, delivered to your door! </p>
<p style="text-transform:none; font-size:20px; margin:0px;">Whether you choose the Rookie Box, MVP Box or Hardcore Fanatic Box</p>
<p style="text-transform:none; font-size:20px">We will send you the latest gear to fit you and your style!</p>
</div>
</div>
<div class="howItWorksSection row" >
<div class="large-6 columns howItWorksText" style="padding-top: 100px;">
<label style="font-size:20px">Step N<sup style="font-size: 13px; top: -4px; text-transform: none;">o</sup> 3</label>
<p>____</p>
<p style="font-size: 21px;font-weight:700">Keep the things you love, send the rest back.</p>
<p style="text-transform:none; font-size:20px; margin: 0px;">  Only pay for the things you keep.  Tell us what you think.</p>
<p style="text-transform:none; font-size:20px">We will make your next box better!</p>
</div>
<div class="large-6 columns" style="padding:0px">
<img src="/images/FanBox_PackagePickup.png" style="height:550px; width:100%"/>
</div>
</div>


</div>


<div class="benefitsContainer">

<div class="benefitsWrapper row">
<div style="padding:0px;">
<p style="font-size:30px; text-align:center; text-transform: uppercase; color:#847c77; font-weight:500; padding-bottom: 35px;  ">Benefits</p>
</div>
<div class="large-3 columns benefits" style="padding:0px;">
<img src="/images/fanboxbullseye2.png" />
<p style="font-size:18px; color:#847c77;">Discover things you love from your favorite teams!</p>
</div>

<div class="large-3 columns benefits" style="padding:0px;">
<img src="/images/FanBoxPresent.png" />
<p style="font-size:18px; color:#847c77">Get a surprise delivered every month to your door!</p>
</div>

<div class="large-3 columns benefits" style="padding:0px;">
<img src="/images/fanbox_bettericon.png" style="height:100px"/>
<p style="font-size:18px; color:#847c77;">Your boxes get better every time!</p>
</div>

<div class="large-3 columns benefits" style="padding:0px;">
<img src="/images/FanBoxbag.png" />
<p style="font-size:18px; color:#847c77;">You get the latest gear without spending time shopping for it!</p>
</div>

</div>
</div>



<div class="priceContainer">

<div class="priceWrapper row">
<div style="padding:0px;">
<p style="font-size:30px; text-align:center; text-transform: uppercase; color:#847c77; font-weight:500; padding-bottom: 75px; ">Pricing</p>
</div>
<div class="large-4 columns price" style="padding:0px;">
<img src="/images/fanbox_happyicon.png" />
<p class="priceHeader">Simple</p>
<p style="font-size:18px; color:#847c77; margin-top: -19px;">Fixed cost every month. Free Returns. No Hassles.</p>
</div>

<div class="large-4 columns price" style="padding:0px;">
<img src="/images/fanbox_price.png" />
<p class="priceHeader">Your Choice Pricing</p>
<p style="font-size:18px; color:#847c77; margin-top: -19px;">Decide how much you want to spend.</p>
<p style="font-size:18px; color:#847c77;">Rookie Box - $30 (1-2 items)</p>
<p style="font-size:18px; color:#847c77;">MVP Box - $60 (1-4 items)</p>
<p style="font-size:18px; color:#847c77;">Hardcore Fanatic Box - $125 (1-5 items)*</p>
<p style="font-size:18px; color:#847c77;">*Get gear first! Sometimes ahead of when it gets on our website.</p>

</div>

<div class="large-4 columns price" style="padding:0px;">
<img src="/images/fanbox_savings.png" />
<p class="priceHeader">Get a Discount</p>
<p style="font-size:18px; color:#847c77; margin-top: -19px;">Pay 3, 6, 9 or 12 months in advance and get a discount of $5 per box.</p>
</div>

</div>
</div>




<div class="whatToExpectContainer">
<div style="padding:0px;">
<img src="/images/fanboxWHATTOEXPECT2.png" style="width:100%;"/>
</div>



<div class="whatToExpectWrapper row">
<div class="large-6 columns whatToExpect" style="padding:0px;">
<img src="/images/fanboxmodel1.jpg" />
</div>

<div class="large-6 columns whatToExpect whatToExpectText" style="text-transform:upper; padding:0px;padding-top:50px;">
<p style="font-size: 21px; font-weight:700; padding-top:90px;">Customized Gear!</p>
<p style="text-transform:none; font-size:20px; margin:0px;">A personalized box, picked just for you!</p>
<p style="text-transform:none; font-size:20px; margin:0px;">Get your teams gear first! Fan Box member get the latest gear fast!</p>

<p style="text-transform:none; font-size:20px; margin:0px;">Get a discount on your gear! Each box comes with more than you would expect.</p>
</div>

</div>

<div class="whatToExpect row" style="background-color:#f7f5f2;">
<div class="large-6 columns whatToExpect whatToExpectText" style="padding:0px; padding-top:115px;">
<p style="text-transform:upper; font-size: 21px; font-weight:700;">Apparel, Accessories and More!</p>
<p style="text-transform:none; font-size:20px; margin:0px;">Your new favorite gear delivered to you!</p>
<p style="text-transform:none; font-size:20px; margin:0px;">Every Fan Box will be shipped to you at no charge and returns also include free shipping.</p>
<p style="text-transform:none; font-size:20px; margin:0px;">Need a gift?  Is there a game that you want to have gear for?  You get free shipping on</p>
<p style="text-transform:none; font-size:20px; margin:0px;">EVERY order you place on Fanatics.com!</p>
</div>

<div class="large-6 columns whatToExpect" style="padding:0px; ">
<img src="/images/Fanboxhardcorebox.jpg" style="width: 589px; height;" />
</div>

</div>

</div>





<div class="getStartedContainer row">

<div class="large-4 columns getStarted" style="padding:0px; ">
<img src="/images/FanBoxGetStarted.jpg" style="height: 500px; margin-left:600px; margin-top:100px;"/>
</div>
<div class="large-6 columns getStarted" style="padding:0px; max-width:592px; margin-right:290px; ">
<form>
<fieldset>
<div class="row nextForm">
<div class="large-12 columns">
<p style="text-align:center; text-transform: uppercase; color:#847c77;">Let's Start</p>
</div>

<div class="row">
<div class="large-12 columns">
<label style="color:#847c77;">FIRST NAME</label>
<input type="text" placeholder="First Name">
</div>
</div>

<div class="row">
<div class="large-12 columns">
<label style="color:#847c77;">LAST NAME</label>
<input type="text" placeholder="Last Name">
</div>
</div>

<div class="row">
<div class="large-12 columns">
<label style="color:#847c77;">EMAIL</label>
<input type="text" placeholder="Email">
</div>
</div>

<div class="row">
<div class="large-12 columns">
<label style="color:#847c77;">ZIP CODE</label>
<input type="text" placeholder="ZIP Code">
</div>
</div>

<div class="row" style="margin-left: 0px">
<label style="color:#847c77;">GENDER</label>
<div class="large-3 columns genderButton" style="margin-left: 135px;">
<a class="button secondary" style="background-color: white;">GIRL</a>
</div>

<div class="large-6 columns genderButton" >
<a class="button secondary " style="background-color: white;">GUY</a>
</div>
</div>



<div class="row" style="margin-left: 0px">
<label style="color:#847c77;">SIZE</label>
<div class="large-1 columns" >
</div>
<div class="large-3 columns sizeButton" style="padding-left:35px;">
<a class="button secondary" style="background-color: white;">XS</a>
</div>
<div class="large-2 columns sizeButton" >
<a class="button secondary" style="background-color: white;">S</a>
</div>
<div class="large-2 columns sizeButton">
<a class="button secondary" style="background-color: white;">M</a>
</div>

<div class="large-2 columns sizeButton" >
<a class="button secondary" style="background-color: white;">L</a>
</div>
<div class="large-3 columns sizeButton" >
<a class="button secondary"style="background-color: white;">XL</a>
</div>

</div>


<div class="row" style="margin-left: 0px">
<div class="large-12 columns">
<img src="/images/fanbox_nextbutton.PNG" style="margin-left: 195px; margin-top: 20px; "/>
<p style="margin-left: 202px; font-size: 15px; font-weight:bolder; color:#847c77;">Already a member? <a>Login</a></p>
<p><img src="/images/Fanbox_FacebookLike.png" style="margin-left: 180px; width: 260px;"/></p>
</div>
</div>

</fieldset>
</form>


</div>

</div>








</div>



</div>
</body>
<html>